@import "utils/_variables.scss";

@import "composants/_bouton.scss";
@import "composants/_keyframes.scss";
@import "composants/_photo.scss";

@import "responsive/_desktop.scss";
@import "responsive/_desktoppage.scss";
@import "responsive/_intermediaire.scss";