@import "utils/_variables.scss";

@import "composants/_bouton.scss";
@import "composants/_keyframes.scss";
@import "composants/_photo.scss";
@import "composants/_coeur.scss";
@import "composants/_police.scss";

@import "layout/pages/_body.scss";
@import "layout/pages/_top.scss";
@import "layout/pages/section";

@import "layout/_search.scss";
@import "layout/_footer.scss";

@import "responsive/_desktop.scss";
@import "responsive/_desktoppage.scss";
@import "responsive/_intermediaire.scss";