.__concept a, .repas .commande {
  border-radius: 20px;
  padding: 4%;
  color: white;
  box-shadow: #818181 2px 3px 3px;
  line-height: 500%;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
}
.__concept a:hover, .__concept a:focus, .__concept a:active, .repas .commande:hover, .repas .commande:focus, .repas .commande:active {
  box-shadow: #818181 3px 5px 5px;
  filter: brightness(110%);
}

.__concept a {
  margin: 10%;
  margin-bottom: 15%;
  padding-left: 6%;
  padding-right: 6%;
}

.repas .commande {
  margin-left: 27%;
  padding-left: 10%;
  padding-right: 10%;
}

@media screen and (min-width: 813px) {
  .__concept a, .repas .commande {
    padding: 1%;
  }

  .__concept a {
    margin: 20%;
    margin-bottom: 15%;
  }

  .repas .commande {
    margin-left: 40%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 2em;
  }
}
/*chargement*/
@keyframes font {
  0% {
    background-color: transparent;
    width: 0;
    height: 0;
    color: transparent;
    overflow: hidden;
    box-sizing: border-box;
  }
  99% {
    background-color: transparent;
    width: 0;
    height: 0;
    color: transparent;
    overflow: hidden;
    box-sizing: border-box;
  }
}
@keyframes disparition {
  to {
    background-color: transparent;
    width: 0;
    height: 0;
    color: transparent;
    overflow: hidden;
    box-sizing: border-box;
  }
}
@keyframes coloration {
  100% {
    color: transparent;
    background: linear-gradient(0deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
  }
}
@keyframes poisson {
  25% {
    transform: translateX(10%) translateY(10%);
  }
  50% {
    transform: translateX(44%) translateY(44%);
  }
  75% {
    transform: translateX(80%) translateY(80%);
  }
  100% {
    transform: translateX(100px) translateY(160px);
    color: transparent;
  }
}
@keyframes piment {
  25% {
    transform: translateX(-10%) translateY(10%);
  }
  50% {
    transform: translateX(-44%) translateY(44%);
  }
  75% {
    transform: translateX(-80%) translateY(80%);
  }
  100% {
    transform: translateX(-100px) translateY(160px);
    color: transparent;
  }
}
/*apparition*/
@keyframes apparition {
  from {
    opacity: 0;
    margin-top: 10%;
  }
  to {
    opacity: 100%;
    margin-top: 0%;
  }
}
@keyframes apparitiondesktop {
  from {
    opacity: 0;
    margin-top: 5%;
  }
  to {
    opacity: 100%;
    margin-top: 0%;
  }
}
.restaurant .__box img {
  object-fit: cover;
  width: 340px;
  height: 250px;
}
.restaurant .__box .__box--lapalettedugout {
  object-position: -20px -50px;
}
.restaurant .__box .__box--lanoteenchantee {
  object-position: 0px -150px;
}
.restaurant .__box .__box--alafrancaise {
  object-position: 0px -60px;
}
.restaurant .__box .__box--ledelicedessens {
  object-position: -15px -70px;
}

.coeurrempli {
  color: transparent;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  position: absolute;
  font-size: 1.7em;
  z-index: 1;
}

.calque {
  position: absolute;
  font-size: 1.7em;
  z-index: 2;
  color: white;
  background-color: white;
  transition: transform 1s;
  transform-origin: center top;
}

.coeurvide {
  color: black;
  background-color: transparent;
  position: absolute;
  font-size: 1.7em;
  z-index: 3;
}
.coeurvide:hover + .calque {
  transform: scaleY(0);
}
.coeurvide:hover {
  opacity: 0;
}

.restaurant .coeurvide, .restaurant .calque, .restaurant .coeurrempli {
  right: 15%;
  bottom: 35%;
}

.top .coeurvide, .top .calque, .top .coeurrempli {
  right: 10%;
  bottom: 45%;
}
.top .calque {
  color: #f6f6f6;
  background-color: #f6f6f6;
}

@font-face {
  font-family: "shrikhand";
  src: url(public/police/shrikhand/Shrikhand-Regular.otf);
}
@font-face {
  font-family: "roboto";
  src: url(public/police/Roboto/Roboto-Regular.ttf);
}
.bodypage {
  background-color: #f6f6f6;
}

.top {
  overflow: hidden;
  position: relative;
}
.top img {
  width: 414px;
  height: 300px;
  object-fit: cover;
}
.top .__nom {
  position: absolute;
  border-radius: 40px;
  background-color: #f6f6f6;
  padding-top: 9%;
  padding-bottom: 12%;
  margin: 0;
  bottom: -10%;
  width: 100%;
}
.top h2 {
  font-family: "shrikhand";
  margin-left: 3%;
  font-size: 1.9em;
}

@media screen and (min-width: 813px) {
  .chargement span {
    font-size: 3em;
  }
  .chargement .fas {
    font-size: 5em;
    top: 20%;
  }
  .chargement .fa-fish {
    left: 30%;
  }
  .chargement .fa-pepper-hot {
    left: 60%;
  }

  header h1 {
    font-size: 4em;
    line-height: 0;
  }

  .exploration .__search {
    padding: 2%;
  }
  .exploration .__search .fa-map-marker-alt {
    margin: 0;
  }
  .exploration .__search input {
    padding-left: 1%;
  }
  .exploration .__concept {
    padding-top: 1%;
  }
  .exploration .__concept h2 {
    padding: 1%;
    margin: 0;
  }
  .exploration .__concept .__concept--sautligne {
    display: none;
  }

  .fonctionnement h2 {
    margin: 3%;
    margin-left: 5%;
  }
  .fonctionnement .__box {
    display: flex;
    margin-right: 5%;
  }
  .fonctionnement .__box .__box--element {
    width: 30%;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .fonctionnement .__box .__box--element .fa-mobile-alt {
    display: none;
  }
  .fonctionnement .__box .__box--element .fa-desktop {
    display: inline-block;
  }

  .restaurant {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .restaurant .__box {
    display: flex;
    margin-right: 5%;
  }

  footer {
    padding-bottom: 2%;
  }
  footer h4 {
    padding-top: 2%;
    margin: 1%;
    margin-left: 5%;
    margin-top: 0;
  }
  footer .fas {
    display: none;
  }
  footer nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5%;
  }
}
@media screen and (min-width: 813px) {
  .bodypage .top {
    width: 100%;
  }
  .bodypage .top img {
    width: 100%;
    height: 600px;
  }
  .bodypage .top .__nom {
    padding: 5%;
    padding-top: 3%;
    width: 90%;
    font-size: 2em;
  }
  .bodypage .repas {
    padding-bottom: 3%;
  }
  .bodypage .repas .__plat--sautligne {
    display: none;
  }
  .bodypage .repas .entre, .bodypage .repas .plat, .bodypage .repas .dessert {
    display: flex;
    justify-content: space-between;
  }
  .bodypage .repas .entre {
    animation-timing-function: ease-in;
    animation-name: apparitiondesktop;
    animation-duration: 1s;
  }
  .bodypage .repas .plat {
    animation-delay: 500ms;
    animation-timing-function: ease-in;
    animation-name: apparitiondesktop;
    animation-duration: 1s;
  }
  .bodypage .repas .dessert {
    animation-delay: 1s;
    animation-timing-function: ease-in;
    animation-name: apparitiondesktop;
    animation-duration: 1s;
  }
  .bodypage .repas .wrap {
    width: 100%;
    flex-direction: column;
  }
  .bodypage .repas .wrap article {
    width: 90%;
  }
  .bodypage .repas .wrap article .__prix {
    padding-top: 7%;
  }
  .bodypage .repas article {
    width: 30%;
    height: 100px;
  }
  .bodypage .repas article .__check .fa-check-circle {
    right: 0px;
  }
  .bodypage .repas article .fa-check-circle {
    left: 0%;
  }
  .bodypage .repas article:hover .__prix {
    flex-shrink: 4;
  }
  .bodypage .repas article:hover .__check {
    width: 20%;
    transition: ease-in-out 1s;
  }
  .bodypage .repas article:hover .__check .fa-check-circle {
    transform: rotate(-1turn);
    transition: ease-in-out 1s;
  }
  .bodypage .repas h3 {
    padding-top: 0%;
    font-size: 2em;
  }
}
@media screen and (min-width: 400px) and (max-width: 1300px) {
  .restaurant {
    padding-top: 5%;
  }
  .restaurant .__box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 5%;
    justify-content: space-between;
  }
  .restaurant .__box article {
    width: 320px;
  }

  .bodypage .top img {
    width: 100%;
    height: 400px;
  }

  .__plat--sautligne {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
