$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$degrade: linear-gradient(0deg, $couleur-primaire, $couleur-secondaire);

.heart-container 
{
   position: absolute;
   top: 30px;
   right: 40px;
   width: 40px;
   height: 40px;
}

.heart-stroke /*contour*/
{
   width: 40px;
   height: 40px;
   position: absolute;
  fill: black;
}

.heart-clip /*couleur*/
{
   display: block;
   width: 100%;
   height: 100%;
   position: relative;
   overflow: hidden;
   clip-path: path('M20,35.09,4.55,19.64a8.5,8.5,0,0,1-.13-12l.13-.13a8.72,8.72,0,0,1,12.14,0L20,10.79l3.3-3.3a8.09,8.09,0,0,1,5.83-2.58,8.89,8.89,0,0,1,6.31,2.58,8.5,8.5,0,0,1,.13,12l-.13.13Z');

   &:hover 
  {
      &::before /*maintient*/
     {
         transform: scale(1);
         opacity: 1;
      }
   }
   &::before /*grossissement*/
  {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: $degrade;
      opacity: 0;
      transform: scale(0);
      transition: transform 0.2s linear, opacity 0.2s linear;
      transform-origin: center 60%;
   }
}
