@font-face {
    font-family: 'shrikhand';
    src: url( ./public/police/shrikhand/Shrikhand-Regular.otf);}

@font-face {
    font-family: 'roboto';
    src: url( ./public/police/Roboto/Roboto-Regular.ttf );}